table th {
    background-color: #337ab7 !important;
    color: white !important;
}

table>tbody>tr>td {
    vertical-align: middle !important;
}

.btn-group,
.btn-group-vertical {
    position: absolute !important;
}

.enca {
    background: linear-gradient(to left, #FFE158 10%, #FFA851) !important;
}

.miclasex {
    background-color: #414956 !important;
}

.miclasey {
    background-color: #414956 !important;
    padding: 50px !important;
}

.miclasey:hover {
    background-color: #D8B465 !important;
}

.miclasex:hover {
    background-color: #D8B465 !important;
}

.micolor{
    background-color: #414956;
}
.colormenu {
    background-color: #414956 !important;
    height: 100vh !important;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #000000;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(113, 107, 119), rgba(39, 42, 44, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(113, 107, 119), rgba(39, 42, 44, 1))
}
