table th {
    background-color: #337ab7 !important;
    color: white !important;
}

table > tbody > tr > td {
    vertical-align: middle !important;
}

.btn-group,
.btn-group-vertical {
    position: absolute !important;
}

.enca {
    background: linear-gradient(to left, #ffe158 10%, #ffa851) !important;
}

.miclasex {
    background-color: #414956 !important;
}

.miclasey {
    background-color: #414956 !important;
    padding: 50px !important;
}

.miclasey:hover {
    background-color: #d8b465 !important;
}

.miclasex:hover {
    background-color: #d8b465 !important;
}

.micolor {
    background-color: #414956;
}
.colormenu {
    background-color: #414956 !important;
    height: 100vh !important;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #000000;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
        to right,
        rgb(113, 107, 119),
        rgba(39, 42, 44, 1)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
        to right,
        rgba(113, 107, 119),
        rgba(39, 42, 44, 1)
    );
}

.hide {
    display: none !important;
}

.center-item {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text-orange {
    color: #ffa533 !important;
}

#tablaSabana {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tablaSabana td,
#tablaSabana th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablaSabana tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tablaSabana th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #108dcc;
    color: white;
}
